*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #021320;
    display: grid;
    justify-content: center;
    align-content: center;
}

::-webkit-input-placeholder{
    color: #eee;
}

.wrapper{
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #fffb0e;
    box-shadow: 0 0 40px 10px #ffee05;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 35px;
    color:#eee;
}

.inp{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.input{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: rgb(242, 255, 0);
}

.Submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer; 
    background: linear-gradient(45deg, rgb(255, 251, 138), #bea803);
}

.social{
    margin-top: 30px;
    display: flex;
  }

  .social div{
    width: 120px;
    border-radius: 5px;
    padding: 2px 3px 2px 6px;
    background-color: #929205;
    color: #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .social div:hover{
    background-color: #f4ff2ae4;
  }
 
  .logo{
    padding-top: 8px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 22px;
    align-items: center;
    display: flex;
}

.footer{
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #eee;
}

.link{
    color: rgb(238, 255, 0);
    text-decoration: none;
}

.links{
    color: rgb(255, 255, 0);
    text-decoration: none;
    font-size: 10px;
    align-self:center;
}

.logo{
    width: 25px;
    align-items: baseline;
}

.banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, rgb(232, 237, 103), #f7ff0b);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wel_text{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
    color: #000;
}

.sub_wel{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000;
}